body {
    display: inline-block;
    font-family: Montserrat;
    margin: 20px auto;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    color : #223454;
}

* {
  box-sizing: border-box;
}

.center {
  margin: auto;
  text-align: center;
  display: block;
  justify-content: center; 
}

/* menu */
.menu {
    display: flex;
    padding:0;
    justify-content: center; 
}

.menu li {
    list-style-type: none;
}

.menu a {
    display:block;
    min-width: 120px;
    text-align: center;
    margin: 0.5rem;
    padding: 0.6rem 0;
    text-decoration: none;
    color: #223454;
}

.menu a:hover {
  color: #92a9d3;
}

.menu li.selected a{
    color: #92a9d3;
}

.timeline a{
    text-decoration: none;
    color: #223454;
} 

.timeline a:hover {
  color: #92a9d3;
}

td, tr {
  padding: 5px;
}

td.table-separator {
    border-bottom: 1px solid #92a9d3;
    padding: 5px;
}

.name{
    font-size:30px;
    color: #314A78;
    text-decoration: none;
}

.main{
    font-size:36px;
    color: #314A78;
}

.main_text {
    font-size:30px;
    color: #314A78;
}

.bear {
    font-family: arial, sans-serif;
    font-size: 28px;
    color: #314A78;
    width: 200px;
    transition: transform .2s;
}

.bear:hover {
  transform: scale(2);
}

.subject {
    margin : 0px;
    font-size: 16px;
    color: #92a9d3;
    display: inline-block;
}

.diploma{
    margin : 5px;
    font-size: 16px;
    color: #92a9d3;
}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: 0px auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -20px;
  color: #c9d4e9;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
    left : 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #223454;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #c9d4e9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #223454;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 2}
}



/*timeline*/

.timeline-content {
  margin-left: 20%;
  width: 80%;
  padding: 10px;
}

.timeline {
  border-left: 1px solid #223454;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;    
  margin: 50px auto;  
  letter-spacing: 0.5px;   
  position: relative;  
  padding: 40px;   
  list-style: none;
  text-align: left;  
  line-height: 1.4em;
  max-width: 80%; 
}

.event {
    padding-bottom: 50px * 0.5;
    margin-bottom: 40px;  
    position: relative;
}


.event:last-of-type { 
    padding-bottom: 0;
    margin-bottom: 0; 
    border: none;      
}


.event:before, .event:after {
    position: absolute;
    display: block;
    top: 0;
}


.event:before {
    left: -280px;      
    content: attr(data-date);
    white-space: pre;
    text-align: center;
    font-weight: 100;   
    opacity: 0.7; 
}

.event:after {
      box-shadow: 0 0 0 1px #223454;    
      left: -48px;        
      background: white;    
      border-radius: 50%;  
      height: 15px;
      width: 15px;
      content: "";
      top: 5px;
    }


/*flip cards*/
.scene {
  display: inline-block;
  width: 400px;
  height: 300px;
  margin: 10px 10px;
  perspective: 800px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card:hover {
    transform: scale(1.05);
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: left;
  backface-visibility: hidden;
  border-radius: 25px;
}

.card__face--front {
    font-size: 18px;
    border: solid #314A78 1px;
    padding : 20px;
    color: #223454;
   font-family: 'Montserrat';
   font-weight: 300;
}

.card__face--back {
    font-size: 15px;
  background: #92a9d3;
  transform: rotateY(180deg);
  padding : 20px;
  color : white;
}

.card__face--back a{
    text-decoration: none;
    color: white;
}

.link{
    padding: 4px 8px;
    border: 1px solid white;
    border-radius: 50px;
    margin : 2px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    display: inline-block;
}

.tag {
  padding: 4px 8px;
  border: 1px solid #92a9d3;
  border-radius: 50px;
  margin : 2px;
  font-size: 14px;
  font-weight: 600;
  color: #92a9d3;
  display: inline-block;
}

.year {
    padding: 4px 8px;
    border-radius: 50px;
    margin : 2px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    color: white;
    background-color: #92a9d3;
    opacity : 0.5;
    display: inline-block;
}

.card__details {
  /* Add space around the details */
  padding: 16px 8px 8px 8px;
}

.mention{
    padding: 4px 8px;
  border: 1px solid #92a9d3;
  border-radius: 50px;
  margin : 5px;
  font-size: 14px;
  font-weight: 600;
  color: #92a9d3;
  display: inline-block;
}

.skills-category{
    width: 1000px;
    padding: 10px;
    margin: 10;
    border-radius: 25px;
    border: 1px solid #223454;
    font-size: 18px;
}

.skills-title{
    margin : 5px;
    font-size: 16px;
}

.skills-item{
    padding: 4px 8px;
    border: 1px solid #92a9d3;
  border-radius: 50px;
  margin : 2px;
  font-size: 15px;
  font-weight: 400;
      color: #92a9d3;
  display: inline-block;
}

.column {
  float: left;
  width: 20%;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.contact{
    font-size: 30px;
}